{% extends '::base.html.twig' %}

{% block body %}

    <div>
        <p>You successfully authenticated with your GitHub account.</p>
        <p><a href="{{ path('acme_fabien_default_index') }}">Start browsing</a></p>
    </div>

{% endblock %}